openapi: '3.0.1'
info:
  version: '1.0.0'
  title: Checkout.com API Reference
  contact:
    name: Checkout.com Support
    url: 'https://checkout.com'
    email: support@checkout.com
  license:
    name: Checkout.com
    url: 'https://checkout.com/api/license/'
  termsOfService: 'https://checkout.com/terms/'
  description: >
    # Introduction

    Checkout.com provide a collection of APIs that enable you to process and manage payments.  
    

    Our APIs accept and return JSON in the HTTP body and return HTTP response codes to indicate errors. You can consume the APIs directly using your favorite HTTP/REST library or make use of one of our SDKs (currently available in
    [.NET](https://github.com/checkout/checkout-sdk-net) and [Python](https://github.com/checkout/checkout-sdk-python/tree/unified-payments)).  


    Our Gateway API includes features such as 
    AutoCapture, 3-D Secure payments, smart routing to acquirers, and much more.


    Broadcast is our webhook notification system informing you of events in near real-time, enabling you to take action and keep your business running smoothly. 
    Webhooks provide a definitive confirmation of a status update and are used for a variety of purposes, such as fulfilling orders, 
    sending automated status updates to customers, or even integrating with third-party application services.

    # Authentication

    When you sign up for an account, you are given a secret and public API key
    pair. You authenticate with the Checkout.com API by providing the appropriate key in
    the request Authorization header.


    Never share your secret keys. Keep them guarded and secure.
servers:
  - url: https://api.checkout.com
    description: Live API
  - url: https://api.sandbox.checkout.com
    description: Sandbox API
tags:
  - name: Payments
    description: |
      Unified payments API
  - name: Webhooks
    description: >
      Webhooks are designed to notify your systems when certain/all registered
      events happen in near real-time.

      They allow you to collect information about those events. Checkout.com can send
      this information via POST to an URL of your choice.
  - name: Files
    description: |
      Upload files to be used as input to other APIs
x-tagGroups:
  - name: Gateway
    tags:
      - Payments
      - Tokens
      - Sources
      - Files
  - name: Broadcast
    tags:
      - Events
      - Webhooks
